body {
  max-width: 412px;
  box-sizing: border-box;
  margin: 0;
}


#name {
  text-align: center;
  margin: 0;
  padding: 10px;


}

h2 {
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(230, 33, 237);
  border-radius: 16px;
  max-width: relative;
}

header {
  background-color: aqua;
  position: sticky;
  top: 0;
  margin: 0;
}


#menu-navegante {
  color: rgb(0, 0, 0);
  background-color: rgb(230, 33, 237);
  border-radius: 16px;
  max-width: 250px;
  display: flex;
  flex-direction: column
z

}

#encabezado-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media (width>412px) {
  body {
    max-width: 912px;
  }
  header {
    background-color: aqua;
    position: sticky;
    top: 0;
    margin: 0;
  }


  #menu-navegante {
    color: rgb(0, 0, 0);
    background-color: rgb(230, 33, 237);
    border-radius: 16px;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  #encabezado-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

}

@media (width>912px) {
  body {
    max-width: 100%;
  }

  header {
    background-color: aqua;
    position: sticky;
    top: 0;
    margin: 0;
  }


  #menu-navegante {
    color: rgb(0, 0, 0);
    background-color: rgb(230, 33, 237);
    border-radius: 16px;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  #encabezado-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

}