body {
  max-width: 412px;
  box-sizing: border-box;
  margin: 0;
}

@media (width>412px) {
  body {
    max-width: 912px;
  }

}

@media (width>912px) {
  body {
    max-width: max-content;
  }
}

#name {
  text-align: center;
  margin: 0;
  padding: 10px;


}

h2 {
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(230, 33, 237);
  border-radius: 16px;
  max-width: relative;
}

header {
  background-color: aqua;
  position: sticky;
  top: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#menu-navegante {
  color: rgb(0, 0, 0);
  background-color: rgb(230, 33, 237);
  border-radius: 16px;
  max-width: 250px;
}
#carrito{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: end;
  
}